footer {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
    
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    background-color: white;
}