.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    height: 60px;
    box-shadow: 1px 4px 4px 0px #00000045;
    position: relative;

}

.nav_header {
    display: flex;
    align-items: center;
}
.sagui{
    height: 56px;
}

.link_header {
    margin-left: 45px;
    color: black;
    text-decoration: none;
}

.porta {
    width: 30px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    .nav_header {
        display: none;
    }
}
